<ul class="version_gantt_chart">
<% @user_tasks_list.each do |user_task| -%>
  <li>
    <%= "#{user_task.user.name}" %>
    <ul>
      <% user_task.version_list.each do |version| -%>
      <li>
      <%= "#{version.name} - #{version.project.name}" %>
        <ul>
          <li><%= "最遅開始日 #{user_task.latest_start_day(version)}" -%></li>
          <li><%= "期日 #{version.due_date}" -%></li>
          <li><%= "完了予想日 #{user_task.able_day(version)}" -%></li>
          <li><%= "終了割合 #{user_task.complete_percent(version)} %" -%></li>
          <li><%= "作業済み割合 #{user_task.done_percent(version)} %" -%></li>
        </ul>
      </li>
      <% end -%>
    </ul>
  </li>
<% end -%>
</ul>
